- name: Install PyMySQL
  pip:
    name: pymysql
    state: present
    
- name: create database
  community.mysql.mysql_db:
    login_host: "terraform-2023081708124851260000000c.ct4xuc4lnhzj.eu-central-1.rds.amazonaws.com" 
    login_user: "mayor"
    login_password: "Ashabi_123"
    name: mayordb
    collation: utf8_general_ci
    encoding: utf8
    state: present


- name: Input wordpress credentials
  ansible.builtin.replace:
    path: /var/www/html/wp-config.php 
    regexp: "{{ item.regexp }}"
    replace: "{{ item.line }}"
  loop:
    - { regexp: '^localhost', line: "terraform-2023081708124851260000000c.ct4xuc4lnhzj.eu-central-1.rds.amazonaws.com" }
    - { regexp: '^username_here', line: "mayor" }
    - { regexp: '^database_name_here', line: "mayordb" }
    - { regexp: '^password_here', line: "Ashabi_123" }