- name: Install PyMySQL
  pip:
    name: pymysql
    state: present
    
- name: create database
  community.mysql.mysql_db:
    login_host: "terraform-2023092521315094990000000c.ct4xuc4lnhzj.eu-central-1.rds.amazonaws.com"
    login_user: "mayor"
    login_password: "Ashabi_123"
    name: mayordb
    collation: utf8_general_ci
    encoding: utf8
    state: present

- name: Input tooling credentials
  ansible.builtin.replace:
    path: /var/www/html/functions.php
    regexp: "{{ item.regexp }}"
    replace: "{{ item.line }}"
  loop:
    - { regexp: '^mysql.tooling.svc.cluster.local', line: "terraform-2023092521315094990000000c.ct4xuc4lnhzj.eu-central-1.rds.amazonaws.com" }
    - { regexp: '^admin', line: "mayor" }
    - { regexp: '^tooling', line: "mayordb" }
    - { regexp: '^admin', line: "Ashabi_123" }